/* 
Project Name: iLiketomoveit
Client: Me
Author: Gabriela Hyla
*/
/******************************************
/* COLOURS
/*******************************************/
/* #f4f4f4 - gray*/ 

/* */

/******************************************
/* SENSIBLE DEFAULTS   

/*******************************************/

* {
     box-sizing: border-box;
}

body {
  background: #f4f4f4;
  margin: 0;
}
.page-wrap {
  width: 100%;
  margin: 0 auto;
}
.site-header {
    background-color: #ffffff;
    border-bottom: solid 1px rgb(160, 160, 160);
    top: 0;
    width: 100%;
}
.site-header a {
  text-decoration: none;
}
.site-header h1  {
  margin:0;
  padding: 0 0 0 1.5em;
}
.site-header h1 a {
  display: inline-block;
  float: left;
  font-family: "Raleway", Helvetica, sans-serif;
  color: #000;
  padding: 10px 10px 10px 0;
  line-height: 2;
}
.site-nav {
  float: left;
}
.site-nav ul {
  margin: 0;
  padding: 0;
  line-height: 5em;
  float:  right;
  list-style: none;
}
.site-nav ul li {
  display: inline-block;
  border-left: solid 1px rgb(160, 160, 160);
  line-height: 2em;
  margin-left: 1em;
  padding-left: 1em;
}

.site-nav ul li a {
  border-bottom: 0;
  font-family: "Raleway", Helvetica, sans-serif;
  font-size: 0.9em;
  color: #aaaaaa;
  font-weight: 400;
  letter-spacing: 0.25em;
  text-transform: uppercase;
}
.hamburger {
  float: right;
  padding: 22px;
  line-height: 1em;
  color: #aaaaaa;
  font-size: 2em; 
  border-left: solid 1px rgb(160, 160, 160);
}
.intro {
  background: url('../images/linkedincover.png') no-repeat center center;
  background-color: #f4f4f4;
  padding-left: 20%;
  height: 270px;
}
div.main-container {
  width: 100%; 
  background: #f4f4f4; 
}
div.article-container {
  float: right;
  width: 60%;
}
div.aside-container {
  float: left;
  width: 30%;
}
div.article-container , .aside-container {
  padding: 10px 15px;
  margin: 5px 15px;
  background-color: #fff;
  border: solid 1px rgb(160, 160, 160);
  height: 300px;
  position: relative; 
}

/******************************************
/* TYPOGRAPHY
/*******************************************/

/* add type styles here */


/******************************************
/* LAYOUT                   
/*******************************************/

.site-container {
max-width: 960px;
margin: 0 auto;
}

.site-header {

}
.site-content {

}
.site-footer {

}

/******************************************
/* HELPER CLASSES
/*******************************************/

/* Clearfix */
.clearfix:before,
.clearfix:after {
     content: " ";
     display: table;
}
.clearfix:after {
     clear:both;
}

.is-hidden {
     display: none;
}
.is-visible {
     display: block;
}


/******************************************
/* ADDITIONAL STYLES                   
/*******************************************/
